<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to pat(:list), url(:timeboxes, :index) %></li>
      <li><%= link_to pat(:new), url(:timeboxes, :new) %></li>
    </ul>
  </div>
  <div class="content">
    <h2 class="title"><%= pat(:all) %> <% mt(:timeboxes) %></h2>
    <div class="inner">
      <table class="table">
        <tr>
          <th class="first"><%= mat(:timebox, :id) %></th>
          <th><%= mat(:timebox, :start) %></th>
          <th><%= mat(:timebox, :end) %></th>
          <th><%= mat(:timebox, :created_at) %></th>
          <th><%= mat(:timebox, :updated_at) %></th>
          <th><%= mat(:timebox, :shop_id) %></th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @timeboxes.each do |timebox| %>
        <tr>
          <td class="first"><%= timebox.id %></td>
          <td><%= timebox.start %></td>
          <td><%= timebox.end %></td>
          <td><%= timebox.created_at %></td>
          <td><%= timebox.updated_at %></td>
          <td><%= timebox.shop_id %></td>
          <td class="last">
            <%= button_to pat(:edit), url(:timeboxes, :edit, :id => timebox.id), :method => :get, :class => :button_to %> |
            <%= button_to pat(:delete), url(:timeboxes, :destroy, :id => timebox.id), :method => :delete, :class => :button_to, :onsubmit => "return confirm('#{pat(:confirm)}')" %>
          </td>
        </tr>
        <% end %>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions"></div>
      </div>
    </div>
  </div>
</div>
<% content_for :sidebar, partial("base/sidebar") %>
